{{/* Visit Reddit confirmation modal overlay */}}
{{ define "visit_reddit_confirmation" }}
<div class="modal-overlay" id="reddit-modal" onclick="if(event.target===this)this.classList.remove('visible')">
	<div class="modal-box">
		<h2>You are about to leave this site</h2>
		<p>Do you want to continue?</p>
		<p class="modal-url">https://www.reddit.com{{ . }}</p>
		<div class="modal-actions">
			<button class="modal-cancel" onclick="document.getElementById('reddit-modal').classList.remove('visible')">No, go back</button>
			<a class="modal-confirm" href="https://www.reddit.com{{ . }}" rel="nofollow">Yes, take me to Reddit</a>
		</div>
	</div>
</div>
{{ end }}

{{/* Render flair parts */}}
{{ define "render_flair" }}
{{- range . -}}
	{{- if eq .Type "emoji" -}}
		<span class="emoji" style="background-image:url('{{ .Value }}');"></span>
	{{- else if and (eq .Type "text") (ne .Value "") -}}
		<span>{{ .Value }}</span>
	{{- end -}}
{{- end -}}
{{ end }}

{{/* Search box */}}
{{ define "searchbox" }}
<form action="{{ if and .Root (ne .Root "/r/") }}{{ .Root }}{{ end }}/search" id="searchbox">
	<input id="search" type="text" name="q" placeholder="Search" title="Search" value="{{ .Query }}">
	{{ if and .Root (ne .Root "/r/") }}
	<div id="inside">
		<input type="checkbox" name="restrict_sr" id="restrict_sr" checked>
		<label for="restrict_sr" class="search_label" title="Restrict search to this subreddit">in {{ .Root }}</label>
	</div>
	{{ end }}
	<button class="submit">
		<svg width="15" viewBox="0 0 110 100" fill="none" stroke-width="10" stroke-linecap="round">
			<path d="M20 50 H100" />
			<path d="M75 15 L100 50 L75 85" />
			&rarr;
		</svg>
	</button>
</form>
{{ end }}

{{/* Sort links */}}
{{ define "sort_links" }}
{{- range .Methods -}}
	<a {{ if eq . $.Selected }}class="selected"{{ end }} href="{{ $.Root }}/{{ . }}">{{ capitalize . }}</a>
{{- end -}}
{{ end }}

{{/* Select options */}}
{{ define "select_options" }}
{{- range .Values -}}
	<option value="{{ . }}" {{ if or (eq $.Current .) (and (eq $.Current "") (eq . $.Default)) }}selected{{ end }}>{{ capitalize . }}</option>
{{- end -}}
{{ end }}

{{ define "sub_list" }}{{ end }}

{{/* Submit arrow SVG */}}
{{ define "submit_svg" }}
<svg width="15" viewBox="0 0 110 100" fill="none" stroke-width="10" stroke-linecap="round">
	<path d="M20 50 H100" />
	<path d="M75 15 L100 50 L75 85" />
	&rarr;
</svg>
{{ end }}

{{/* Post in list (subreddit listing) */}}
{{ define "post_in_list" }}
{{ $post := .Post }}
{{ $prefs := .Prefs }}
{{ $blurred := or (and $post.Flags.NSFW (eq $prefs.BlurNSFW "on")) (and $post.Flags.Spoiler (eq $prefs.BlurSpoiler "on")) }}
<div class="post{{ if $post.Flags.Stickied }} stickied{{ end }}{{ if $blurred }} post_blurred{{ end }}" id="{{ $post.ID }}">
	<p class="post_header">
		<a class="post_subreddit" href="/{{ communityPath $post.Community }}">{{ communityPath $post.Community }}</a>
		<span class="dot">&bull;</span>
		<a class="post_author {{ $post.Author.Distinguished }}" href="/user/{{ $post.Author.Name }}">u/{{ $post.Author.Name }}</a>
		<span class="dot">&bull;</span>
		<span class="created" title="{{ $post.Created }}">{{ $post.RelTime }}</span>
		{{ if $post.ArchivedRelTime }}
			<span class="dot">&bull;</span>
			<span class="archived" title="{{ $post.ArchivedTime }}">archived {{ $post.ArchivedRelTime }}</span>
		{{ end }}
		{{ if and $post.Awards (ne $prefs.HideAwards "on") }}
			{{ range $post.Awards }}
			<span class="award" title="{{ .Name }}">
				<img alt="{{ .Name }}" src="{{ .IconURL }}" width="16" height="16"/>
			</span>
			{{ end }}
		{{ end }}
	</p>
	<h2 class="post_title">
		{{ if $post.Flair.FlairParts }}
			<a href="/r/{{ $post.Community }}/search?q=flair_name%3A%22{{ $post.Flair.Text }}%22&restrict_sr=on"
				class="post_flair"
				style="color:{{ $post.Flair.ForegroundColor }}; background:{{ $post.Flair.BackgroundColor }};"
				dir="ltr">{{ template "render_flair" $post.Flair.FlairParts }}</a>
		{{ end }}
		<a href="{{ $post.Permalink }}">{{ $post.Title }}</a>{{ if $post.Flags.NSFW }} <small class="nsfw">NSFW</small>{{ end }}{{ if $post.Flags.Spoiler }} <small class="spoiler">Spoiler</small>{{ end }}
	</h2>

	{{ if or (eq $prefs.Layout "") (eq $prefs.Layout "card") }}
		{{ if eq $post.PostType "image" }}
		<div class="post_media_content">
			<a href="{{ $post.Media.URL }}" class="post_media_image">
				{{ if or (eq $post.Media.Height 0) (eq $post.Media.Width 0) }}
				<img width="100%" height="100%" loading="lazy" alt="Post image" src="{{ $post.Media.URL }}"/>
				{{ else }}
				<svg width="{{ $post.Media.Width }}px" height="{{ $post.Media.Height }}px" xmlns="http://www.w3.org/2000/svg">
					<image width="100%" height="100%" href="{{ $post.Media.URL }}"/>
					<desc><img loading="lazy" alt="Post image" src="{{ $post.Media.URL }}"/></desc>
				</svg>
				{{ end }}
			</a>
		</div>
		{{ else if or (eq $post.PostType "gif") (eq $post.PostType "video") }}
			{{ if and (eq $prefs.UseHLS "on") $post.Media.AltURL }}
			<div class="post_media_content">
				<video class="post_media_video short{{ if eq $prefs.AutoplayVideos "on" }} hls_autoplay{{ end }}" {{ if and (gt $post.Media.Width 0) (gt $post.Media.Height 0) }}width="{{ $post.Media.Width }}" height="{{ $post.Media.Height }}"{{ end }} poster="{{ $post.Media.Poster }}" controls preload="none">
					<source src="{{ $post.Media.AltURL }}" type="application/vnd.apple.mpegurl" />
					<source src="{{ $post.Media.URL }}" type="video/mp4" />
				</video>
			</div>
			{{ else }}
			<div class="post_media_content">
				<video class="post_media_video short" src="{{ $post.Media.URL }}" {{ if and (gt $post.Media.Width 0) (gt $post.Media.Height 0) }}width="{{ $post.Media.Width }}" height="{{ $post.Media.Height }}"{{ end }} poster="{{ $post.Media.Poster }}" preload="none" controls {{ if eq $prefs.AutoplayVideos "on" }}autoplay{{ end }}><a href="{{ $post.Media.URL }}">Video</a></video>
			</div>
			{{ end }}
		{{ end }}
	{{ end }}

	{{ if and (ne $post.PostType "self") (ne $post.PostType "image") (ne $post.PostType "video") (ne $post.PostType "gif") }}
		{{ if or (and (ne $prefs.Layout "") (ne $prefs.Layout "card")) true }}
		<a class="post_thumbnail{{ if not $post.Thumbnail.URL }} no_thumbnail{{ end }}" href="{{ if eq $post.PostType "link" }}{{ $post.Media.URL }}{{ else }}{{ $post.Permalink }}{{ end }}" rel="nofollow">
			{{ if $post.Thumbnail.URL }}
			<div style="max-width:{{ $post.Thumbnail.Width }}px;max-height:{{ $post.Thumbnail.Height }}px;">
				<svg width="{{ $post.Thumbnail.Width }}px" height="{{ $post.Thumbnail.Height }}px" xmlns="http://www.w3.org/2000/svg">
					<image width="100%" height="100%" href="{{ $post.Thumbnail.URL }}"/>
					<desc><img loading="lazy" alt="Thumbnail" src="{{ $post.Thumbnail.URL }}"/></desc>
				</svg>
			</div>
			{{ end }}
			<span>{{ if eq $post.PostType "link" }}{{ $post.Domain }}{{ else }}{{ $post.PostType }}{{ end }}</span>
		</a>
		{{ end }}
	{{ end }}

	<div class="post_score" title="{{ index $post.Score 1 }}">
		{{ if ne $prefs.HideScore "on" }}{{ index $post.Score 0 }}{{ else }}&#x2022;{{ end }}
		<span class="label"> Upvotes</span>
	</div>
	<div class="post_body post_preview">{{ $post.Body }}</div>

	{{ if $post.Poll }}{{ template "poll" $post.Poll }}{{ end }}

	<div class="post_footer">
		<a href="{{ $post.Permalink }}" class="post_comments" title="{{ index $post.Comments 1 }} {{ commentsWord (index $post.Comments 1) }}">{{ index $post.Comments 0 }} {{ commentsWord (index $post.Comments 1) }}</a>
	</div>
</div>
{{ end }}

{{/* Full post (detail page) */}}
{{ define "post_detail" }}
{{ $post := .Post }}
{{ $prefs := .Prefs }}
{{ $blurred := and $post.Flags.Spoiler (eq $prefs.BlurSpoiler "on") }}
<div class="post highlighted{{ if $blurred }} post_blurred{{ end }}">
	<p class="post_header">
		<a class="post_subreddit" href="/r/{{ $post.Community }}">r/{{ $post.Community }}</a>
		<span class="dot">&bull;</span>
		<a class="post_author {{ $post.Author.Distinguished }}" href="/user/{{ $post.Author.Name }}">u/{{ $post.Author.Name }}</a>
		{{ if $post.Author.Flair.FlairParts }}
			<small class="author_flair">{{ template "render_flair" $post.Author.Flair.FlairParts }}</small>
		{{ end }}
		<span class="dot">&bull;</span>
		<span class="created" title="{{ $post.Created }}">{{ $post.RelTime }}</span>
		{{ if $post.ArchivedRelTime }}
			<span class="dot">&bull;</span>
			<span class="archived" title="{{ $post.ArchivedTime }}">archived {{ $post.ArchivedRelTime }}</span>
		{{ end }}
		{{ if and $post.Awards (ne $prefs.HideAwards "on") }}
		<span class="dot">&bull;</span>
		<span class="awards">
			{{ range $post.Awards }}
			<span class="award" title="{{ .Name }}">
				<img alt="{{ .Name }}" src="{{ .IconURL }}" width="16" height="16"/>
				{{ .Count }}
			</span>
			{{ end }}
		</span>
		{{ end }}
	</p>
	<h1 class="post_title">
		{{ if $post.Flair.FlairParts }}
			<a href="/r/{{ $post.Community }}/search?q=flair_name%3A%22{{ $post.Flair.Text }}%22&restrict_sr=on"
				class="post_flair"
				style="color:{{ $post.Flair.ForegroundColor }}; background:{{ $post.Flair.BackgroundColor }};">{{ template "render_flair" $post.Flair.FlairParts }}</a>
		{{ end }}
		{{ $post.Title }}
		{{ if $post.Flags.NSFW }} <small class="nsfw">NSFW</small>{{ end }}
		{{ if $post.Flags.Spoiler }} <small class="spoiler">Spoiler</small>{{ end }}
	</h1>

	{{ if eq $post.PostType "image" }}
	<div class="post_media_content">
		<a href="{{ $post.Media.URL }}" class="post_media_image">
			{{ if or (eq $post.Media.Height 0) (eq $post.Media.Width 0) }}
			<img width="100%" height="100%" loading="lazy" alt="Post image" src="{{ $post.Media.URL }}"/>
			{{ else }}
			<svg width="{{ $post.Media.Width }}px" height="{{ $post.Media.Height }}px" xmlns="http://www.w3.org/2000/svg">
				<image width="100%" height="100%" href="{{ $post.Media.URL }}"/>
				<desc><img loading="lazy" alt="Post image" src="{{ $post.Media.URL }}"/></desc>
			</svg>
			{{ end }}
		</a>
	</div>
	{{ else if or (eq $post.PostType "video") (eq $post.PostType "gif") }}
		{{ if and (eq $prefs.UseHLS "on") $post.Media.AltURL }}
		<script src="/hls.min.js"></script>
		<div class="post_media_content">
			<video class="post_media_video short {{ if eq $prefs.AutoplayVideos "on" }}hls_autoplay{{ end }}" {{ if and (gt $post.Media.Width 0) (gt $post.Media.Height 0) }}width="{{ $post.Media.Width }}" height="{{ $post.Media.Height }}"{{ end }} poster="{{ $post.Media.Poster }}" preload="none" controls>
				<source src="{{ $post.Media.AltURL }}" type="application/vnd.apple.mpegurl" />
				<source src="{{ $post.Media.URL }}" type="video/mp4" />
			</video>
		</div>
		<script src="/playHLSVideo.js"></script>
		{{ else }}
		<div class="post_media_content">
			<video class="post_media_video" src="{{ $post.Media.URL }}" controls {{ if eq $prefs.AutoplayVideos "on" }}autoplay{{ end }} loop><a href="{{ $post.Media.URL }}">Video</a></video>
		</div>
		{{ end }}
	{{ else if eq $post.PostType "gallery" }}
	<div class="gallery">
		{{ range $post.Gallery }}
		<figure>
			<a href="{{ .URL }}"><img loading="lazy" alt="Gallery image" src="{{ .URL }}"/></a>
			<figcaption>
				<p>{{ .Caption }}</p>
				{{ if .OutboundURL }}
				<p><a class="outbound_url" href="{{ .OutboundURL }}" rel="nofollow">{{ .OutboundURL }}</a></p>
				{{ end }}
			</figcaption>
		</figure>
		{{ end }}
	</div>
	{{ else if eq $post.PostType "link" }}
	<a id="post_url" href="{{ $post.Media.URL }}" rel="nofollow">{{ $post.Media.URL }}</a>
	{{ end }}

	<div class="post_body">
		{{ $post.Body }}
		{{ if $post.Poll }}{{ template "poll" $post.Poll }}{{ end }}
	</div>
	<div class="post_score" title="{{ index $post.Score 1 }}">
		{{ if ne $prefs.HideScore "on" }}{{ index $post.Score 0 }}{{ else }}&#x2022;{{ end }}
		<span class="label"> Upvotes</span>
	</div>
	<div class="post_footer">
		<ul id="post_links">
			<li><a href="{{ $post.Permalink }}"><span class="desktop_item">perma</span>link</a></li>
			{{ if gt $post.NumDuplicates 0 }}
			<li><a href="/r/{{ $post.Community }}/duplicates/{{ $post.ID }}">dup<span class="desktop_item">licat</span>es</a></li>
			{{ end }}
			{{ if eq $post.PostType "link" }}
			<li class="desktop_item"><a target="_blank" href="https://archive.is/latest/{{ $post.Media.URL }}">archive.is</a></li>
			<li class="mobile_item"><a target="_blank" href="https://archive.is/latest/{{ $post.Media.URL }}">archive</a></li>
			{{ end }}
			<li>
				<a href="https://reddit.com{{ $post.Permalink }}" rel="nofollow">reddit</a>
			</li>
			{{ if $post.Media.DownloadName }}
			<li>
				<a href="{{ $post.Media.URL }}" download="{{ $post.Media.DownloadName }}">
					<span class="mobile_item">dl</span>
					<span class="desktop_item">download</span>
				</a>
			</li>
			{{ end }}
		</ul>
		<p>{{ $post.UpvoteRatio }}%<span id="upvoted"> Upvoted</span></p>
	</div>
</div>
{{ end }}

{{/* Poll */}}
{{ define "poll" }}
{{ if . }}
<div class="post_poll">
	<span>{{ .TotalVoteCount }} votes,</span>
	<span title="{{ index .VotingEndTimestamp 1 }}">{{ index .VotingEndTimestamp 0 }}</span>
	{{ range .Options }}
	<div class="poll_option">
		{{ if .VoteCount }}
			<div class="poll_chart" style="width: 100%"></div>
			<span>{{ .VoteCount }}</span>
		{{ else }}
			<div class="poll_chart most_voted"></div>
			<span></span>
		{{ end }}
		<span>{{ .Text }}</span>
	</div>
	{{ end }}
</div>
{{ end }}
{{ end }}
